*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* styling header */
.header{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    
}
.banner{
    text-align: right;
    padding-top: 216px;
    padding-right: 230px;
    padding-left: 845px;
}
.bannertitle{
    font-weight: 700;
    font-size: 62px;
    margin-bottom: 24px;
    color: #151414;
}
.bannersubtitle{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 32px;
    line-height: 1.5em;

}
/* Button style */
.buttondesign{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background:#F15B22;
    padding: 21px 26px;
    border: 0;
    margin-bottom: 166px;
    border-radius: 5px;
}
/* styling main portion */
/* styling section one */
.failure-section{
    display: flex;
    margin-left: 206px;
    margin-top: 131px;
}
.failure-section-passage{
    margin-right: 322px;
    
}
.failure-section-title{
    font-weight: 700;
    font-size: 40px;
    margin-top: 250px;
    margin-bottom: 24px;
    margin-left: 87px;
}
.failure-section-subtitle{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-left: 87px;
    margin-bottom: 16px;
    line-height: 1.5em;
}
.failure-section-subtitle-list{
    margin-left: 50px;
   
    
}
.failure-section-subtitle-list ul li{
    list-style: none;
    margin-bottom: 5px;
    
}
.failure-section-subtitle-list ul li i{
    margin-right: 8px;
    color: rgb(163, 247, 163);
    
}
/* Styling plans section */
.plans-section{
    color: #151414;
    
}
.plans-section-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 55px;

}
.plans-container{
    display: flex;
    text-align: center;
    margin-left: 230px;
}
.plans{
    margin-right: 86px;
}
.plans-title{
    font-weight: 700;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 16px;
}
.plans-des{
    font-weight: 500;
    font-size: 20px;
    color: #737272;
    margin-bottom: 130px;
}